.video-analysis {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    flex: 1;
}

.dashboard-container {
    grid-column: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
    padding: 2%;
}