.analysis-details-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(255, 255, 255, 255);
    border-radius: 20px;
}


.analysis-details-list-header {
    color: rgba(65, 65, 65, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: xx-large;
}

.analysis-details-list-header-label {
    display: flex;
    flex: 1;
}

.analysis-details-list-header-button {
    display: flex;

}


.analysis-details-list-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.analysis-details-list-content-item-container {
    display: flex;
    flex-direction: row;
    background-color: rgba(239, 250, 254, 255);
    color: black;
    align-items: center;
    padding: 2%;
    border-radius: 50px;
}


.analysis-details-list-content-item-left {
    display: flex;
    flex: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    align-items: center;
}


.analysis-details-list-content-item-right {
    display: flex;
    gap: 2px;
    flex: 1;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    align-items: center;
}



.all-analysis-child {
    color: black;

}

.f-analysis {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    background-color: rgba(253, 224, 224, 255);
    color: rgba(185, 127, 126, 255);
    justify-content: center;
    font-size: x-small;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 3px;
    font-weight: bold;
}

.s-analysis {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    background-color: rgba(194, 236, 245, 255);
    color: rgba(120, 179, 202, 255);
    justify-content: center;
    font-size: x-small;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 3px;
    font-weight: bold;
}

.t-analysis {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    background-color: rgba(203, 255, 239, 255);
    color: rgba(101, 176, 149, 255);
    justify-content: center;
    font-size: x-small;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 3px;
    font-weight: bold;
}

.ff-analysis {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    background-color: rgba(247, 211, 254, 255);
    color: rgba(197, 150, 217, 255);
    justify-content: center;
    font-size: x-small;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 3px;
    font-weight: bold;
}

.settings-button:hover {
    background-color: #8abbcf;
}   

.settings-button {
    display: flex;
    flex: 1;
    background-color: rgba(20, 118, 157, 255);
    align-items: center;
    padding: 30%;
    border-radius: 100%;
    font-weight: bold;
    cursor: pointer;
    border: solid rgba(175, 206, 218, 255);
}


/* Responsive Styles */
@media (max-width: 1200px) {
    .analysis-details-list-header {
        font-size: 1.8rem;
        padding: 1.5% 4%;
    }

    .analysis-details-list-content {
        padding: 1% 2%;
    }

    .analysis-details-list-content-item-container {
        flex-direction: row;
        padding: 3%;
    }

    .f-analysis, .s-analysis, .t-analysis, .ff-analysis {
        font-size: 0.65rem;
        padding: 0.8% 2%;
    }

    .settings-button {
        padding: 25%;
    }
}

@media (max-width: 992px) {
    .analysis-details-list-header {
        font-size: 1.5rem;
        padding: 3% 5%;
    }

    .analysis-details-list-content-item-container {
        flex-direction: row;
        padding: 3%;
        font-size: 0.7rem;
    }
    
    .f-analysis, .s-analysis, .t-analysis, .ff-analysis {
        font-size: 0.47rem;
        padding: 0.5% 2%;
    }

    .settings-button {
        padding: 20%;
    }
}

@media (max-width: 768px) {
    .analysis-details-list-header {
        font-size: 1.3rem;
        padding: 5% 5%;
    }

    .analysis-details-list-content {
        padding: 1% 1.5%;
    }

    .analysis-details-list-content-item-container {
        flex-direction: row;
        padding: 2%;
        font-size: 0.5rem;
    }

    .f-analysis, .s-analysis, .t-analysis, .ff-analysis {
        font-size: 0.3rem;
        padding: 0.5% 1.5%;
    }

    .settings-button {
        padding: 15%;
        max-width: 25px;
        max-height: 25px;
    }
}

@media (max-width: 576px) {
    .analysis-details-list-header {
        font-size: 1.0rem;
        padding: 3% 4%;
    }

    .analysis-details-list-content {
        padding: 1% 1%;
    }

    .analysis-details-list-content-item-container {
        flex-direction: row;
        padding: 2%;
        font-size: 0.4rem;
    }

    .f-analysis, .s-analysis, .t-analysis, .ff-analysis {
        font-size: 0.2rem;
        padding: 0.4% 1%;
    }

    .settings-button {
        padding: 10%;
        max-width: 15px;
        max-height: 15px;
    }
}

@media (max-width: 375px) {
    .analysis-details-list-header {
        font-size: 0.9rem;
        padding: 3% 3%;
    }

    .f-analysis, .s-analysis, .t-analysis, .ff-analysis {
        font-size: 0.19rem;
        padding: 0.3% 1%;
    }
    .settings-button {
        padding: 8%;
        max-width: 10px;
        max-height: 10px;
    }
}